# MODO DE GRABACIÓN
# A = El frontend graba el video en el navegador usando MediaRecorder y lo envía por chunks (sockets).
# B = El servidor graba el video usando FFmpeg directamente del flujo RTP puro de Mediasoup.
RECORDING_MODE=A

# PUERTO DEL SERVIDOR
PORT=3000
