# MODO DE GRABACIÓN
# A = El frontend graba el video en el navegador usando MediaRecorder y lo envía por chunks (sockets).
# B = El servidor graba el video usando FFmpeg directamente del flujo RTP puro de Mediasoup.
RECORDING_MODE=A

# PUERTO DEL SERVIDOR
PORT=3000

# CONFIGURACIÓN DE RED MEDIASOUP
# LISTEN_IP: Usa '127.0.0.1' para desarrollo local, o '0.0.0.0' en producción.
LISTEN_IP=127.0.0.1
# ANNOUNCED_IP: Déjalo comentado en local. En producción, pon aquí tu IP Pública.
# ANNOUNCED_IP=123.45.67.89
